<p>
  <strong>First Name:</strong>
  <%= @card.first_Name %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @card.last_Name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @card.address %>
</p>
<br>
<%= link_to 'Back to Rolodex Card Listing', cards_path %>